
<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Register</mat-card-title>
    </mat-card-header>

      <form class="example-form" [formGroup]="profileReg" (ngSubmit)="onSubmit()" novalidate>
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Username" formControlName="name">
          
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput type="email" placeholder="Email" formControlName="email">
          
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Password" formControlName="password">
        </mat-form-field>
        

      </mat-card-content>
      <!-- <button type="submit" [disabled]="!profileReg.valid">Submit</button> -->
      <button mat-stroked-button color="mat-button" type="submit" [disabled]="!profileReg.valid" class="btn-block">Register</button>
      <!-- <div *ngIf="userExist">
        <p class="error">User Already Exists</p>
      </div> -->
    </form>
  </mat-card>
</div>

