<!-- Toolbar -->
<mat-toolbar color="primary" class="app-header">
  <div>ChatApp</div>
  <span class="nav-tool-items">
    <div *ngIf = "!loggedIn()">
    <a mat-button routerLink="login" routerLinkActive="active">Log in</a>
    <a mat-button mat-raised-button routerLink="register" routerLinkActive="active">Register</a>
    </div>

    <div *ngIf = "loggedIn()">
      <a mat-button routerLinkActive="active">{{username}}</a>
      <a mat-button routerLink="friends" routerLinkActive="active">Friends</a>
      <a mat-button routerLink="groupChat" routerLinkActive="active">Group Chat</a>
      
      <a mat-button  routerLinkActive="active" (click)="onLogout()">Logout</a>
      </div>
  </span>
</mat-toolbar>

<router-outlet></router-outlet>